/* Nord Theme Colors - Static version for NixOS */
@define-color background #2E3440;
@define-color foreground #D8DEE9;
@define-color cursor #D8DEE9;
@define-color color0 #3B4252;
@define-color color1 #BF616A;
@define-color color2 #A3BE8C;
@define-color color3 #EBCB8B;
@define-color color4 #81A1C1;
@define-color color5 #B48EAD;
@define-color color6 #88C0D0;
@define-color color7 #E5E9F0;
@define-color color8 #4C566A;
@define-color color9 #BF616A;
@define-color color10 #A3BE8C;
@define-color color11 #EBCB8B;
@define-color color12 #81A1C1;
@define-color color13 #B48EAD;
@define-color color14 #8FBCBB;
@define-color color15 #ECEFF4;
@define-color base #2E3440;
@define-color surface #3B4252;
@define-color overlay #4C566A;
@define-color text #D8DEE9;
@define-color subtle #E5E9F0;
@define-color accent #81A1C1;
@define-color accent2 #88C0D0;
@define-color warn #EBCB8B;
@define-color error #BF616A;
@define-color success #A3BE8C;
@define-color muted #B48EAD;
